<div class="panel-default">
    <div class="panel-body">
        <div class="form-group form-group-lg">
          <input type="search" [formControl]="routesearch" class="form-control" placeholder="Search route"/>
        </div>
        <div class="list-group" *ngIf="routes.length > 0">
            <a *ngFor="let route of routes|routesfilter:filterValue" routerLink="/route/{{route.id}}" routerLinkActive="active" class="list-group-item">{{route.display_name}}</a>
        </div>
    </div>
</div>

